/* UserProfile.css */

.profile {
  width: 320px;
  border: 1.5px solid #444;
  border-radius: 10px;
  overflow: hidden;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f7f7f7;
  color: #000;
  text-align: center;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
  margin: 1.5rem auto;
}

.description {
  padding: 2rem 0 2.5rem;
}

.avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #eee;
  object-fit: cover;
  margin-bottom: 1.5rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.name {
  margin: 0 0 0.25rem;
  font-weight: 700;
  font-size: 1.6rem;
}

.tag {
  margin: 0 0 0.5rem;
  color: #999;
  font-size: 1rem;
}

.location {
  margin: 0;
  color: #999;
  font-size: 1rem;
}

.stats {
  display: flex;
  background-color: #ccc;
  border-top: 1px solid #999;
  list-style: none;
  padding: 0;
  margin: 0;
}

.stats li {
  flex-grow: 1;
  padding: 1rem 0;
  border-right: 1px solid #999;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stats li:last-child {
  border-right: none;
}

.label {
  font-size: 0.85rem;
  color: #444;
  margin-bottom: 0.3rem;
}

.quantity {
  font-weight: 700;
  font-size: 1.2rem;
}
